@model PaginatedList<KnjigoMenjava.Models.Rezervacija>

@{
    ViewData["Title"] = "Moje Rezervacije";
}

@using System.Security.Claims

<h1>Moje Rezervacije</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Isči: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="POIŠČI" class="btn btn-secondary" />
            <a asp-action="Index">Nazaj na seznam</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Datum Rezervacije</a>
            </th>
            <th>
                Datum Vrnitve
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Naslov knjige</a>
            </th>
            <th>
                Lastnik knjige
            </th>
            <th>
                Izposojevalec
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVrnitve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Knjiga.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Knjiga.Lastnik.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uporabnik.UserName)
            </td>
            <td>
                <a asp-controller="Ocene" asp-action="Index" asp-route-knjigaId="@item.Id">Ocene</a>
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a> |
                @{
                    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                }
                @if (item.DatumVrnitve == null && (item.Knjiga.LastnikId == currentUserId || User.IsInRole("Administrator")))
                {
                    <form asp-action="PotrdiVrnjeno" method="post" style="display:inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-success">Potrdi vrnjeno</button>
                    </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Nazaj
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Naprej
</a>