@using System.Security.Claims
@model PaginatedList<KnjigoMenjava.Models.Ocena>

@{
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-knjigaId="@Context.Request.Query["knjigaId"]">Dodaj novo oceno</a>
</p>
<p>
    <a asp-controller="Knjige" asp-action="Index">Nazaj na seznam knjig</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ZvezdiceSortParm"]" asp-route-knjigaId="@Context.Request.Query["knjigaId"]">Zvezdice</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Komentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Uporabnik.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span style="font-size: 24px; color: gold; -webkit-text-stroke: 0.5px black;">
                    @string.Concat(Enumerable.Repeat("★", item.Zvezdice))@string.Concat(Enumerable.Repeat("☆", 5 - item.Zvezdice))
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uporabnik.UserName)
            </td>
            <td>
                @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == item.UporabnikId || User.IsInRole("Administrator"))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Izbrisi</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-knjigaId="@Context.Request.Query["knjigaId"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-knjigaId="@Context.Request.Query["knjigaId"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
